.note {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.title {
  text-align: center;
}

.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--tui-background-neutral-2);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note:hover .delete {
  opacity: 1;
}

.note:hover .delete:hover {
  background-color: red;
}

.open-full-screen {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: var(--tui-background-neutral-2);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.note:hover .open-full-screen {
  opacity: 1;
}

.note:hover .open-full-screen:hover {
  background-color: blue;
}
